<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wsh.common.dao.flow.AuditRecordDao" > 
	<resultMap id="AuditRecordMap" type="AuditRecordDO">
	    <result property="id" column="id"/>
        <result property="flowId" column="flow_id"/>
        <result property="fileId" column="file_id"/>
        <result property="status" column="status"/>
        <result property="description" column="description"/>
        <result property="step" column="step"/>
        <result property="version" column="version"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="operatorUserId" column="operator_user_id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
   	
   	<!-- 所有查询字段 -->
   	<sql id="allSelectionColumn">
		id,
        flow_id,
        file_id,
        status,
        description,
        step,
        version,
        is_deleted,
        operator_user_id,
        gmt_created,
        gmt_modified
	</sql>
   	
   	<!-- 根据ID查询实体数据 -->
    <select id="selectById" parameterType="Long" resultMap="AuditRecordMap">
        SELECT <include refid="allSelectionColumn"/> FROM audit_record WHERE id = #{value} AND is_deleted = 0 LIMIT 1
    </select>

    <!--多条件查询表信息(分页) -->
    <select id="selectListByParams" parameterType="AuditRecordDO" resultMap="AuditRecordMap">
        SELECT <include refid="allSelectionColumn"/> FROM audit_record WHERE is_deleted = 0
    </select>
    <select id="selectCountByParams" parameterType="AuditRecordDO" resultType="int">
        SELECT COUNT(id) FROM audit_record WHERE is_deleted = 0
    </select>

    <!-- 添加数据 -->
    <insert id="insert" parameterType="AuditRecordDO">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO audit_record(
        flow_id,
        file_id,
        status,
        description,
        step,
        version,
        is_deleted,
        operator_user_id,
        gmt_created,
        gmt_modified
        )VALUES(
        #{flowId},
        #{fileId},
        #{status},
        #{description},
        #{step},
        #{version},
        0,
        #{operatorUserId},
        NOW(),
        NOW())
    </insert>

    <!-- 根据ID更新信息-->
    <update id="updateById" parameterType="AuditRecordDO">
        UPDATE audit_record SET
        <if test="flowId != null ">
            flow_id = #{flowId},
        </if>
        <if test="fileId != null ">
            file_id = #{fileId},
        </if>
        <if test="status != null and status != ''">
            status = #{status},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        <if test="step != null ">
            step = #{step},
        </if>
        <if test="operatorUserId != null ">
            operator_user_id = #{operatorUserId},
        </if>
        version = version + 1,
        gmt_modified = NOW()
        WHERE id = #{id} AND version = #{version}
    </update>

    <!-- 根据ID更新删除状态-->
    <update id="updateIsDeleteById" parameterType="AuditRecordDO">
        UPDATE audit_record SET is_deleted = #{isDeleted}, version = version + 1
        WHERE id = #{id} AND is_deleted = 0 AND version = #{version}
    </update>
    
    <!-- 根据ID删除数据-->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM audit_record WHERE id = #{value}
    </delete>
	
    <!-- 批量添加数据 -->
    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO audit_record
		(id,flow_id,file_id,status,description,step,version,is_deleted,operator_user_id,gmt_created,gmt_modified)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.id},#{item.flowId},#{item.fileId},#{item.status},#{item.description},#{item.step},#{item.version},#{item.isDeleted},#{item.operatorUserId},#{item.gmtCreated},#{item.gmtModified})
		</foreach>
    </insert>
</mapper>  