package ${packageName};

import lombok.Getter;
import lombok.Setter;
import org.wsh.common.model.base.BaseDO;

/**
* author: wsh
* JDK-version:  JDK1.8
* comments:  ${headName}模型
* since Date： ${date}
*/
public class ${head}DO extends BaseDO{

#foreach($colum in $columList)
	
	/**
	 * $!colum.remark
	 */
	@Setter
	@Getter
	#if($!colum.type == "SMALLINT")
private int $!colum.name;
	#else
private $!colum.type $!colum.name;
	#end
#end

	public ${head}DO() {
	}

	public ${head}DO(#foreach($colum in $columList3)$!{colum.type} $!{colum.name}#if($velocityCount!=$!{columList3.size()}), #end#end) {
#foreach($colum in $columList3)
		this.$!colum.name = $!colum.name;
#end
	}
}