package $!{serviceTestPackage};

import org.springframework.transaction.annotation.Transactional;
import org.wsh.common.pager.pagination.Pagination;
import org.junit.Test;
import org.junit.runner.RunWith;
import org.wsh.common.support.beans.OptionsResponseDO;
import org.wsh.common.support.response.ResponseDO;
import org.wsh.common.util.logger.LoggerService;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;
import javax.annotation.Resource;
import java.util.List;

/**
* author: wsh
* JDK-version:  JDK1.8
* comments:  服务接口单元测试
* since Date： ${date}
*/
@Transactional
@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(locations = "classpath:common-bean.xml")
public class ${bigServiceName}Test extends LoggerService{

    @Resource
    private ${bigServiceName} ${minServiceName};

    private Long id = 1L;

    @Test
    public void add() {
        try {
            ${bigDoName} ${minDoName} = insert();
            id = ${minDoName}.getId();
            logger.info(${minDoName}.toString());
        } catch (Exception e) {
            logger.error("添加数据异常!", e);
        }
    }

    private ${bigDoName} insert() throws Exception {
        ${bigDoName} ${minDoName} = new ${bigDoName}();

        ResponseDO<${bigDoName}> responseDO = ${minServiceName}.add${bigDoName}(${minDoName});
        logger.info("Result:" + responseDO.isSuccess() + "ErrorCode:" + responseDO.getErrorCode() + "ErrorMsg:" + responseDO.getErrorMsg());
        return ${minDoName};
    }

    @Test
    public void selectListForPage() {
        try {
            ${bigDoName} ${minDoName} = new ${bigDoName}();
            OptionsResponseDO<List<${bigDoName}>> responseDO = ${minServiceName}.query${bigDoName}ListForPage(${minDoName}, new Pagination());
            if (responseDO.isSuccess()) {
                for (${bigDoName} ${minDoName}1 : responseDO.getData()) {
                    logger.info(${minDoName}1.toString());
                }
            } else {
                logger.info("分页查询列表为空!");
            }
        } catch (Exception e) {
            logger.error("分页查询列表数据异常!", e);
        }
    }

    @Test
    public void selectById() {
        try {
            ResponseDO<${bigDoName}> responseDO = ${minServiceName}.get${bigDoName}ById(id);
            if (responseDO.isSuccess()) {
                logger.info(responseDO.getData().toString());
            }
        } catch (Exception e) {
            logger.error("根据ID查询表数据异常!", e);
        }
    }

    @Test
    public void updateById() {
        try {
            ResponseDO<${bigDoName}> oldResponseDO = ${minServiceName}.get${bigDoName}ById(id);
            ${bigDoName} ${minDoName} = oldResponseDO.getData();
            ResponseDO<${bigDoName}> responseDO = ${minServiceName}.modify${bigDoName}(${minDoName});
            logger.info("Result:" + responseDO.isSuccess());
        } catch (Exception e) {
            logger.error("根据ID更新表数据异常!", e);
        }
    }

    @Test
    public void delete() {
        try {
            ${bigDoName} ${minDoName} = new ${bigDoName}();
            ${minDoName}.setId(id);
            ResponseDO<${bigDoName}> responseDO = ${minServiceName}.del${bigDoName}(id);
            logger.info("Result:" + responseDO.isSuccess());
        } catch (Exception e) {
            logger.error("根据ID逻辑删除表数据异常!", e);
        }
    }
}