<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.common.repository.dao.app.user.AppUserLoginRecordDao" > 
	<resultMap id="AppUserLoginRecordMap" type="AppUserLoginRecord">
	    <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="loginTime" column="login_time"/>
        <result property="deviceNo" column="device_no"/>
        <result property="deviceType" column="device_type"/>
        <result property="appNo" column="app_no"/>
        <result property="systemNo" column="system_no"/>
    </resultMap>
   	
   	<!-- 所有查询字段 -->
   	<sql id="allSelectionColumn">
		id,
		user_id,
		login_time,
		device_no,
		device_type,
		app_no,
		system_no
	</sql>
   	
   	<!-- 根据ID查询实体数据 -->
    <select id="loadById" parameterType="int" resultMap="AppUserLoginRecordMap">
        SELECT <include refid="allSelectionColumn"/> FROM app_user_login_record WHERE id = #{value} LIMIT 1
    </select>

    <!-- 添加数据 -->
    <insert id="insert" parameterType="AppUserLoginRecord">
        INSERT INTO app_user_login_record (
		 user_id, 
		 login_time,
		 device_no,
		device_type,
		app_no,
		system_no
		 )  VALUES (
		 #{userId}, 
		 #{loginTime},
		 #{deviceNo},
		 #{deviceType},
		 #{appNo},
		 #{systemNo})
    </insert>
    
    <!-- 根据ID删除数据-->
    <delete id="deleteById" parameterType="int">
        DELETE FROM  app_user_login_record WHERE id=#{value}
    </delete>
    
     <!-- 添加数据 -->
    <insert id="insertUserLogin" parameterType="AppUserLoginRecord">
        INSERT INTO app_user_login_record (
		user_id, 
		phone,
		login_time,
		device_no,
		device_type,
		system_no,
		app_no,
		login_type,
		open_id
		 )  VALUES (
		 #{userId},
		 #{phone},  
		 #{loginTime},
		 #{deviceNo},
		 #{deviceType},
		 #{systemNo},
		 #{appNo},
		 #{loginType},
		 #{openId}
		 )
    </insert>
    
</mapper>  