<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wsh.common.dao.blog.BlogContentDao" > 
	<resultMap id="BlogContentMap" type="BlogContentDO">
	    <result property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="version" column="version"/>
        <result property="description" column="description"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
   	
   	<!-- 所有查询字段 -->
   	<sql id="allSelectionColumn">
		id,
        content,
        version,
        description,
        is_deleted,
        gmt_created,
        gmt_modified
	</sql>
   	
   	<!-- 根据ID查询实体数据 -->
    <select id="selectById" parameterType="Long" resultMap="BlogContentMap">
        SELECT <include refid="allSelectionColumn"/> FROM blog_content WHERE id = #{value} AND is_deleted = 0 LIMIT 1
    </select>

    <!--多条件查询表信息(分页) -->
    <select id="selectListByParams" parameterType="BlogContentDO" resultMap="BlogContentMap">
        SELECT <include refid="allSelectionColumn"/> FROM blog_content WHERE is_deleted = 0
    </select>
    <select id="selectCountByParams" parameterType="BlogContentDO" resultType="int">
        SELECT COUNT(id) FROM blog_content WHERE is_deleted = 0
    </select>

    <!-- 添加数据 -->
    <insert id="insert" parameterType="BlogContentDO">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO blog_content(
        content,
        version,
        description,
        is_deleted,
        gmt_created,
        gmt_modified
        )VALUES(
        #{content},
        #{version},
        #{description},
        0,
        NOW(),
        NOW())
    </insert>

    <!-- 根据ID更新信息-->
    <update id="updateById" parameterType="BlogContentDO">
        UPDATE blog_content SET
        <if test="content != null and content != ''">
            content = #{content},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        version = version + 1,
        gmt_modified = NOW()
        WHERE id = #{id} AND version = #{version}
    </update>

    <!-- 根据ID更新删除状态-->
    <update id="updateIsDeleteById" parameterType="BlogContentDO">
        UPDATE blog_content SET is_deleted = #{isDeleted}, version = version + 1
        WHERE id = #{id} AND is_deleted = 0 AND version = #{version}
    </update>
    
    <!-- 根据ID删除数据-->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM blog_content WHERE id = #{value}
    </delete>
	
    <!-- 批量添加数据 -->
    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO blog_content
		(id,content,version,description,is_deleted,gmt_created,gmt_modified)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.id},#{item.content},#{item.version},#{item.description},#{item.isDeleted},#{item.gmtCreated},#{item.gmtModified})
		</foreach>
    </insert>
</mapper>  