<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wsh.common.dao.blog.BlogFollowDao" > 
	<resultMap id="BlogFollowMap" type="BlogFollowDO">
	    <result property="id" column="id"/>
        <result property="followId" column="follow_id"/>
        <result property="userId" column="user_id"/>
        <result property="version" column="version"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
   	
   	<!-- 所有查询字段 -->
   	<sql id="allSelectionColumn">
		id,
        follow_id,
        user_id,
        version,
        gmt_created,
        gmt_modified
	</sql>
   	
   	<!-- 根据ID查询实体数据 -->
    <select id="selectById" parameterType="Long" resultMap="BlogFollowMap">
        SELECT <include refid="allSelectionColumn"/> FROM blog_follow WHERE id = #{value} AND is_deleted = 0 LIMIT 1
    </select>

    <!--多条件查询表信息(分页) -->
    <select id="selectListByParams" parameterType="BlogFollowDO" resultMap="BlogFollowMap">
        SELECT <include refid="allSelectionColumn"/> FROM blog_follow WHERE is_deleted = 0
    </select>
    <select id="selectCountByParams" parameterType="BlogFollowDO" resultType="int">
        SELECT COUNT(id) FROM blog_follow WHERE is_deleted = 0
    </select>

    <!-- 添加数据 -->
    <insert id="insert" parameterType="BlogFollowDO">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO blog_follow(
        follow_id,
        user_id,
        version,
        gmt_created,
        gmt_modified
        )VALUES(
        #{followId},
        #{userId},
        #{version},
        NOW(),
        NOW())
    </insert>

    <!-- 根据ID更新信息-->
    <update id="updateById" parameterType="BlogFollowDO">
        UPDATE blog_follow SET
        <if test="followId != null ">
            follow_id = #{followId},
        </if>
        <if test="userId != null ">
            user_id = #{userId},
        </if>
        version = version + 1,
        gmt_modified = NOW()
        WHERE id = #{id} AND version = #{version}
    </update>

    <!-- 根据ID更新删除状态-->
    <update id="updateIsDeleteById" parameterType="BlogFollowDO">
        UPDATE blog_follow SET is_deleted = #{isDeleted}, version = version + 1
        WHERE id = #{id} AND is_deleted = 0 AND version = #{version}
    </update>
    
    <!-- 根据ID删除数据-->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM blog_follow WHERE id = #{value}
    </delete>
	
    <!-- 批量添加数据 -->
    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO blog_follow
		(id,follow_id,user_id,version,gmt_created,gmt_modified)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.id},#{item.followId},#{item.userId},#{item.version},#{item.gmtCreated},#{item.gmtModified})
		</foreach>
    </insert>
</mapper>  