#set($layout = '/layout/blank.vm')
<form id="menuForm" class="form-horizontal" method="post" role="form">
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-1">栏目名称</label>
		<div class="col-sm-9">
			<input type="text" id="name" name="name" placeholder="请输入栏目名称" class="col-xs-10 col-sm-5" />
		</div>
	</div>
	<div class="space-4"></div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-2">选择父级</label>
		<div class="col-sm-9">
		  <select id="fatherId" name="fatherId" class="form-appselect dropdown-toggle" data-toggle="dropdown">
		   	<option value="0">请选择</option>
		   	#foreach($!menu in $!rootMenuList)
		   		<option value="$!menu.id">$!menu.name</option>
	   		#end
          </select>
		</div>
	</div>
	<div class="space-4"></div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-2">选择权限</label>
		<div class="col-sm-9">
			<select id="resId" name="resId" class="form-appselect dropdown-toggle" data-toggle="dropdown">
		   	<option value="0">请选择</option>
		   	#foreach($!permission in $!permList)
		   		<option value="$!permission.id">$!permission.name</option>
	   		#end
          </select>
		</div>
	</div>
</form>