#set($layout='/layout/blank.vm')
<div>
    This is Test Page!
    $!{STATIC_HOST}
    $!{SERVER_HOST}
</div>
<script src="$!{STATIC_HOST}/assets/jquery-2.0.3/jquery.min.js"></script>
<script src="$!{STATIC_HOST}/assets/plugins/layer-1.9.3/layer.js"></script>