<div class="col-sm-6">
    <div class="widget-box ">
        <div class="widget-header">
            <h4 class="lighter smaller">
                <i class="icon-comment blue"></i>
                会话
            </h4>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">
                <div id="content" class="dialogs">
                    <div class="itemdiv dialogdiv">
                        <div class="user">
                            <img alt="Alexa's Avatar" src="/assets/admin/avatars/avatar1.png" />
                        </div>

                        <div class="body">
                            <div class="time">
                                <i class="icon-time"></i>
                                <span class="green">4秒钟前</span>
                            </div>

                            <div class="name">
                                <a href="#">Alexa</a>
                            </div>
                            <div class="text">大家好啊</div>

                            <div class="tools">
                                <a href="#" class="btn btn-minier btn-info">
                                    <i class="icon-only icon-share-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="itemdiv dialogdiv">
                        <div class="user">
                            <img alt="John's Avatar" src="/assets/admin/avatars/avatar.png" />
                        </div>

                        <div class="body">
                            <div class="time">
                                <i class="icon-time"></i>
                                <span class="blue">38秒以前</span>
                            </div>

                            <div class="name">
                                <a href="#">John</a>
                            </div>
                            <div class="text">框架很好用嘛</div>

                            <div class="tools">
                                <a href="#" class="btn btn-minier btn-info">
                                    <i class="icon-only icon-share-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="form-actions">
                        <div class="input-group">
                            <input id="msg" placeholder="Type your message here ..." type="text" class="form-control" name="message" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-info no-radius" onclick="sendMsg();" type="button">
                                    <i class="icon-share-alt"></i>
                                    发送
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div><!-- /widget-main -->
        </div><!-- /widget-body -->
    </div><!-- /widget-box -->
</div><!-- /span -->
<!-- PAGE CONTENT ENDS -->
<script src="/assets/jquery-2.0.3/jquery.min.js"></script>
<script>
##    var path = "$!{WebScoketPath}/";
    var path = "common.wsh.org/";
    var toUserId = "$!{toUserId}";
    var fromName='$!{request.getSession().getAttribute("user").userName}';
    var websocket;
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://" + path + "/ws");
    } else if ('MozWebSocket' in window) {
        websocket = new MozWebSocket("ws://" + path + "/ws");
    } else {
        websocket = new SockJS("http://" + path + "/ws/sockjs");
    }
    websocket.onopen = function(event) {
        console.log("WebSocket:已连接");
        console.log(event);
    };
    websocket.onmessage = function(event) {
        var data=JSON.parse(event.data);
        console.log("WebSocket:收到一条消息",data);
        var textCss=data.from==-1?"sfmsg_text":"fmsg_text";
        $("#content").append("<div class='fmsg'><label class='name'>"+data.fromName+"&nbsp;"+data.date+"</label><div class='"+textCss+"'>"+data.text+"</div></div>");
        scrollToBottom();
    };
    websocket.onerror = function(event) {
        console.log("WebSocket:发生错误 ");
        console.log(event);
    };
    websocket.onclose = function(event) {
        console.log("WebSocket:已关闭");
        console.log(event);
    }
    function sendMsg(){
        var v = $("#msg").val();
        if(v==""){
            return;
        }else{
            var data={};
            data["fromName"]=fromName;
            data["toUserId"]=toUserId;
            data["textMessage"]=v;
            websocket.send(JSON.stringify(data));
            $("#content").append("<div class='itemdiv dialogdiv'><div class='user'><img alt='Bob's Avatar' src='/assets/admin/avatars/user.jpg' /></div><div class='body'><div class='time'><i class='icon-time'></i><span class='orange'>"+ new Date().Format("yyyy-MM-dd hh:mm:ss") +"</span></div><div class='name'><a href='#'>Bob</a><span class='label label-info arrowed arrowed-in-right'>admin</span></div><div class='text'>" + data.textMessage + "</div><div class='tools'><a href='#' class='btn btn-minier btn-info'><i class='icon-only icon-share-alt'></i> </a></div></div>");

//            scrollToBottom();
            $("#msg").val("");
        }
    }

    function scrollToBottom(){
        var div = document.getElementById('content');
        div.scrollTop = div.scrollHeight;
    }

    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    function send(event){
        var code;
        if(window.event){
            code = window.event.keyCode; // IE
        }else{
            code = e.which; // Firefox
        }
        if(code==13){
            sendMsg();
        }
    }
</script>