<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
		  <div class="panel-body">
            <form class="form-query" name="topSearchForm" id="topSearchForm" action="/data/startup/export.do" method="get">
            	<div class="row">
            	  <div class="col-lg-2">
            	    <div class="input-group">
            	      <span class="input-group-addon">
            	      查询时间:
            	      </span>
            	      <input name="exportDate" type="text" class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'2016-02-01',maxDate:'$!exportDate'})" placeholder="请选择导出时间" value="$!exportDate">
            	    </div><!-- /input-group -->
            	  </div><!-- /.col-lg-6 -->
				   <div class="col-lg-3">
            	    <div class="input-group">
            			  <button id="queryButton" type="submit" class="btn btn-primary">导出</button>
            	    </div>
            	  </div><!-- /.col-lg-3 -->
            	</div><!-- /.row -->
            </form>
			</div>
		</div><!-- /.table-responsive -->
	</div><!-- /span -->
</div><!-- /row -->
<script src="/assets/jquery-2.0.3/jquery.min.js"></script>
<script src="/assets/plugins/My97DatePicker/WdatePicker.js"></script>
<script src="/assets/plugins/My97DatePicker/lang/zh-cn.js"></script>