<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="info" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<!-- additivity="false" -->
	<logger name="org.springframework" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>

	<logger name="org.apache" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>

	<!-- the root category -->
	<root>
		<level value="info" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>
