#set($layout = '/layout/blank.vm')
<form id="permForm" class="form-horizontal" method="post" role="form">
	<input type="hidden" name="id" value="$!permission.id" />
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-1">权限名称</label>
		<div class="col-sm-9">
			<input type="text" name="name" value="$!permission.name" placeholder="请输入权限名称" class="col-xs-10 col-sm-8" />
		</div>
	</div>
	<div class="space-4"></div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-2">权限代码</label>
		<div class="col-sm-9">
			<input type="text" value="$!permission.code" name="code" placeholder="请输入权限代码" class="col-xs-10 col-sm-8" />
		</div>
	</div>
	<div class="space-4"></div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-2">目标地址</label>
		<div class="col-sm-9">
			<input type="text" value="$!permission.target"  name="target" placeholder="请输入目标地址" class="col-xs-10 col-sm-8" />
		</div>
	</div>
	<div class="space-4"></div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-2">模块</label>
		<div class="col-sm-9">
		  <select type="button" name="moduleId" class="form-appselect dropdown-toggle" data-toggle="dropdown">
            #foreach($!module in $!moduleList)
            <option value="$!module.id">$!module.name</option>
            #end
          </select>
		</div>
	</div>
	<div class="space-4"></div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-2">是否验证</label>
		<div class="col-sm-9">
		  <select id="allow" name="allow" class="form-appselect dropdown-toggle" data-toggle="dropdown">
        	<option value="1" #if($!permission.allow == 1) selected #end >不验证</option>
            <option value="2" #if($!permission.allow == 2) selected #end >验证</option>
          </select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="form-field-2">类型</label>
		<div class="col-sm-9">
		  <select type="button" id="type" name="type" class="form-appselect dropdown-toggle" data-toggle="dropdown">
            <option value="1" #if($!permission.type == 1) selected #end >栏目</option>
            <option value="2" #if($!permission.type == 2) selected #end >异步</option>
          	<option value="3" #if($!permission.type == 3) selected #end >表单</option>
          </select>
		</div>
	</div>
</form>