<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wsh.common.dao.ModuleDAO" >
	<resultMap id="ModuleMap" type="ModuleDO">
         <result property="id" column="id"/>
         <result property="name" column="name"/>
         <result property="createUserId" column="create_user_id"/>
         <result property="gmtCreated" column="gmt_created"/>
         <result property="gmtModified" column="gmt_modified"/>
   	</resultMap>
   	
   	<sql id="allFields">
         id,
         name,
         create_user_id,
         gmt_created,
         gmt_modified
   	</sql>
   	
   	<!-- 查询所有模块信息 -->
   	<select id="queryAll" resultMap="ModuleMap">
   		select <include refid="allFields"/> from module
   	</select>
   	
   	<!-- 根据模块ID查询模块信息 -->
 	<select id="queryById" parameterType="Long" resultMap="ModuleMap">
   		SELECT <include refid="allFields"/> FROM module WHERE id = #{id}
   	</select>
   	
   	<!--多条件查询模块信息(分页) -->
	<select id="queryByParams" parameterType="ModuleDO" resultMap="ModuleMap">
		select <include refid="allFields"/> from module 
		where id > 0 
		<if test="name != null and name != ''">
			and name like CONCAT('%',#{name},'%')  
		</if>
	</select>
	<select id="queryCountByParams" parameterType="ModuleDO" resultType="int">
		select count(id) from module 
		where id > 0 
		<if test="name != null and name != ''">
			and name like CONCAT('%',#{name},'%')  
		</if>
	</select>	
   	
   	<!-- 添加模块信息-->
	<insert id="insertModule" parameterType="ModuleDO">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into module (name,
         create_user_id,
         gmt_created,
         gmt_modified) VALUES(#{name},#{createUserId},now(),now())
	</insert>
	
	<!-- 删除模块 -->
	<delete id="deleteById" parameterType="Long">
		DELETE FROM module WHERE id=#{id}
	</delete>
</mapper>  