<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wsh.common.dao.msg.UserGroupDao" > 
	<resultMap id="UserGroupMap" type="UserGroupDO">
	    <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="groupId" column="group_id"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
   	
   	<!-- 所有查询字段 -->
   	<sql id="allSelectionColumn">
		id,
		user_id,
		group_id,
		gmt_created,
		gmt_modified
	</sql>
   	
   	<!-- 根据ID查询实体数据 -->
    <select id="loadById" parameterType="int" resultMap="UserGroupMap">
        SELECT <include refid="allSelectionColumn"/> FROM user_group WHERE id = #{value} LIMIT 1
    </select>

    <!-- 添加数据 -->
    <insert id="insert" parameterType="UserGroupDO">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
		</selectKey>
        INSERT INTO user_group (
		 user_id, 
		 group_id, 
		 gmt_created, 
		 gmt_modified
		 )  VALUES (
		 #{userId}, 
		 #{groupId}, 
		 #{gmtCreated}, 
		 #{gmtModified})
    </insert>
    
    <!-- 根据ID删除数据-->
    <delete id="deleteById" parameterType="int">
        DELETE FROM  user_group WHERE id=#{value}
    </delete>
	
    <!-- 批量添加数据 -->
    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO user_group (
		 id, 
		 user_id, 
		 group_id, 
		 gmt_created, 
		 gmt_modified
		 )  VALUES 
		 <foreach collection="list" item="item" index="index" separator=",">
		(
		 #{item.id}, 
		 #{item.userId}, 
		 #{item.groupId}, 
		 #{item.gmtCreated}, 
		  #{item.gmtModified})
		 </foreach>		 
    </insert>
</mapper>  