<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wsh.common.dao.redpacket.RedPacketSendDao" > 
	<resultMap id="RedPacketSendMap" type="RedPacketSendDO">
	    <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="userId" column="user_id"/>
        <result property="accountId" column="account_id"/>
        <result property="billNumber" column="bill_number"/>
        <result property="businessNumber" column="business_number"/>
        <result property="totalNum" column="total_num"/>
        <result property="remainNum" column="remain_num"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="remainAmount" column="remain_amount"/>
        <result property="averageAmount" column="average_amount"/>
        <result property="sign" column="sign"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="description" column="description"/>
        <result property="version" column="version"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>
   	
   	<!-- 所有查询字段 -->
   	<sql id="allSelectionColumn">
		id,
        type,
        user_id,
        account_id,
        bill_number,
        business_number,
        total_num,
        remain_num,
        total_amount,
        remain_amount,
        average_amount,
        sign,
        gmt_created,
        gmt_modified,
        description,
        version,
        is_deleted
	</sql>
   	
   	<!-- 根据ID查询实体数据 -->
    <select id="selectById" parameterType="Long" resultMap="RedPacketSendMap">
        SELECT <include refid="allSelectionColumn"/> FROM red_packet_send WHERE id = #{value} AND is_deleted = 0 LIMIT 1
    </select>

    <!-- 查询实体数据(悲观锁) -->
    <select id="selectForCalculate" parameterType="RedPacketSendDO" resultMap="RedPacketSendMap">
        SELECT <include refid="allSelectionColumn"/> FROM red_packet_send
        WHERE id = #{id} AND is_deleted = 0 FOR UPDATE
    </select>

    <!-- 多条件查询实体数据 -->
    <select id="selectByParams" parameterType="RedPacketSendDO" resultMap="RedPacketSendMap">
        SELECT <include refid="allSelectionColumn"/> FROM red_packet_send
        <where>
            <if test="id != null and id !=''">
                id = #{id}
            </if>
            AND is_deleted = 0
        </where>
        LIMIT 1
    </select>

    <!--多条件查询表信息(分页) -->
    <select id="selectListByParams" parameterType="RedPacketSendDO" resultMap="RedPacketSendMap">
        SELECT <include refid="allSelectionColumn"/> FROM red_packet_send WHERE is_deleted = 0
    </select>
    <select id="selectCountByParams" parameterType="RedPacketSendDO" resultType="int">
        SELECT COUNT(id) FROM red_packet_send WHERE is_deleted = 0
    </select>

    <!-- 添加数据 -->
    <insert id="insert" parameterType="RedPacketSendDO">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO red_packet_send(
        type,
        user_id,
        account_id,
        bill_number,
        business_number,
        total_num,
        remain_num,
        total_amount,
        remain_amount,
        average_amount,
        sign,
        gmt_created,
        gmt_modified,
        description,
        version,
        is_deleted
        )VALUES(
        #{type},
        #{userId},
        #{accountId},
        #{billNumber},
        #{businessNumber},
        #{totalNum},
        #{remainNum},
        #{totalAmount},
        #{remainAmount},
        #{averageAmount},
        #{sign},
        NOW(),
        NOW(),
        #{description},
        #{version},
        0)
    </insert>

    <!-- 根据ID更新信息-->
    <update id="updateById" parameterType="RedPacketSendDO">
        UPDATE red_packet_send SET
        <if test="type != null and type != ''">
            type = #{type},
        </if>
        <if test="userId != null and userId != ''">
            user_id = #{userId},
        </if>
        <if test="accountId != null and accountId != ''">
            account_id = #{accountId},
        </if>
        <if test="billNumber != null and billNumber != ''">
            bill_number = #{billNumber},
        </if>
        <if test="businessNumber != null and businessNumber != ''">
            business_number = #{businessNumber},
        </if>
        <if test="totalNum != null ">
            total_num = #{totalNum},
        </if>
        <if test="remainNum != null ">
            remain_num = #{remainNum},
        </if>
        <if test="totalAmount != null ">
            total_amount = #{totalAmount},
        </if>
        <if test="remainAmount != null ">
            remain_amount = #{remainAmount},
        </if>
        <if test="averageAmount != null ">
            average_amount = #{averageAmount},
        </if>
        <if test="sign != null and sign != ''">
            sign = #{sign},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        version = version + 1,
        gmt_modified = NOW()
        WHERE id = #{id} AND version = #{version}
    </update>

    <!-- 根据ID更新删除状态-->
    <update id="updateIsDeleteById" parameterType="RedPacketSendDO">
        UPDATE red_packet_send SET is_deleted = #{isDeleted}, version = version + 1
        WHERE id = #{id} AND is_deleted = 0 AND version = #{version}
    </update>
    
    <!-- 根据ID删除数据-->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM red_packet_send WHERE id = #{value}
    </delete>
	
    <!-- 批量添加数据 -->
    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO red_packet_send
		(id,type,user_id,account_id,bill_number,business_number,number,total_amount,spare_amount,amount,sign,gmt_created,gmt_modified,description,version,is_deleted)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.id},#{item.type},#{item.userId},#{item.accountId},#{item.billNumber},#{item.businessNumber},#{item.number},#{item.totalAmount},#{item.spareAmount},#{item.amount},#{item.sign},#{item.gmtCreated},#{item.gmtModified},#{item.description},#{item.version},#{item.isDeleted})
		</foreach>
    </insert>

    <!-- 根据ID更新余量信息-->
    <update id="updateRemainById" parameterType="RedPacketSendDO">
        UPDATE red_packet_send SET remain_num = remain_num - 1, remain_amount = remain_amount - #{remainAmount}, version = version + 1
        WHERE id = #{id} AND is_deleted = 0 AND version = #{version}
    </update>

</mapper>  